<h1> Parabens, sua compra foi realizada com sucesso! </h1>

    <div class='card-show-info' >
      <h1><%= @order.shirt.team %></h1>
      <p>Gênero: <%= @order.shirt.gender %></p>
      <p>Tamanho: <%= @order.shirt.size %></p>
      <p>Preço: <%= @order.shirt.price %></p>
        <% if  @order.shirt.photo.attached?  %>
            <%= cl_image_tag @order.shirt.photo.key, height: 300, width:300, crop: :fill %>
        <% end %>
        <div>

<%= link_to 'Voltar para home', shirts_path %>
