<div class='container mt-5'>
  <div class="card text-center">
    <div class="card-header bg-success">
    Parabéns, sua compra foi realizada com sucesso!
    </div>
    <div class="card-body">
      <% if  @order.shirt.photo.attached?  %>
            <%= cl_image_tag @order.shirt.photo.key, height: 300, width: 300, crop: :fill %>
          <% end %>
      <h3 class="card-title"><%= @order.shirt.team %></h3>
      <p class="card-text"><i class="fa-solid fa-venus-mars"></i>  Gênero: <%= @order.shirt.gender %></p>
      <p class="card-text"><i class="fa-solid fa-up-right-and-down-left-from-center"></i> Tamanho: <%= @order.shirt.size %></p>
      <p class="card-text"><i class="fa-solid fa-dollar-sign"></i> Preço: <%= @order.shirt.price %></p>
      <%= link_to 'Veja mais produtos', shirts_path , class: 'btn btn-primary' %>
    </div>
  </div>
</div>
<%# <%= link_to 'Voltar para home', shirts_path %> 
