<h1>Info of a Shirt</h1>

<p>Team: <%= @shirt.team %></p>
<p>Gender: <%= @shirt.gender %></p>
<p>Size: <%= @shirt.size %></p>
<p>Price: <%= @shirt.price %></p>

<div>
  <%= link_to 'Back to Index', shirts_path %>
  <%= button_to 'Buy this Shirt',  shirt_orders_path(@shirt) , class: 'btn btn-primary' %>
</div>
