<div class='container mt-5'>
  <div class='card-show card d-flex flex-row shadow'>

    <% if  @shirt.photo.attached?  %>
      <%= cl_image_tag @shirt.photo.key, height: 300, width:300, crop: :fill %>
    <% end %>

    <div class='card-show-info' >
      <h1><%= @shirt.team %></h1>
      <p>Gênero: <%= @shirt.gender %></p>
      <p>Tamanho: <%= @shirt.size %></p>
      <p>Preço: <%= @shirt.price %></p>

      <% if current_user == @shirt.user %>
        <div class="botao mb-2">
          <%= link_to 'Edite seu anúncio',  edit_shirt_path(@shirt) , class: 'btn btn-primary'  %>
        </div>
         <div class="botao mb-2">
          <%= link_to 'Exclua seu anúncio',  shirt_path(@shirt), data: {"turbo-method": :delete}, class: 'btn btn-secondary'  %>
        </div>
      <% end %>

      <div>
        <% unless current_user == @shirt.user %>
          <%= button_to 'Comprar',  shirt_orders_path(@shirt) , class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%# <div>
  <%= link_to 'Back to home', shirts_path %>
<%# </div> %>


